$textColor: #fcf9f4;

.NavAndMessages {
  width: 100%;
}

.Nav {
  width: 30%;
  color: $textColor;
  font-family: 'MedievalSharp', cursive;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-top: 20px;
}

li {
  list-style-type: none;
  padding: 10px;
  font-size: 2.0em;
}

li:hover {
  color: #FED76D;
}

.Messages {
  width: 70%;
  color: $textColor;
  font-family: 'Oxygen';
}
