@import 'https://fonts.googleapis.com/css?family=MedievalSharp|Oxygen';

$textColor: #fcf9f4;

.Title {
  font-family: 'MedievalSharp', cursive;
  color: $textColor;
  margin: 10px;
}

.Title h1 {
  font-size: 3.0em;
  margin: 0;
}

.Title h3 {
  font-family: 'Oxygen', sans-serif;
}
